# k8s/staging/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: staging
  labels:
    app: churn-prediction-api
    environment: staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: churn-prediction-api
  template:
    metadata:
      labels:
        app: churn-prediction-api
    spec:
      containers:
        - name: api
          image: fraidoonjan/churn-prediction-api:latest
          ports:
            - containerPort: 8000
          env:
            - name: ENVIRONMENT
              value: "staging"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5

---
# k8s/staging/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: staging
spec:
  selector:
    app: churn-prediction-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
